body {
    background-color: #FFFCFC;
}

.indent-small {
    margin-left: 10px;
}

a, a:visited {
    text-decoration: none;
    }
#submit:hover {
    color: #FFFCFC; /* bootstrap primary color */
}

.icon-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure it takes full height of the cell */
}
.bg-starbucks-green {
    background-color: #016843;
}
.bg-starbucks-white {
    background-color: #FFFCFC;
}
.bg-starbucks-gold {
    background-color: #EAC784;
}
.bg-starbucks-brown {
    background-color: #362415;
}
.bg-starbucks-graybrown {
    background-color: #604C4C;
}
.text-starbucks-green {
    color: #016843;
}
.text-starbucks-white {
    color: #FFFCFC;
}
.text-starbucks-gold {
    color: #EAC784;
}
.text-starbucks-brown {
    color: #362415;
}
.text-starbucks-graybrown {
    color: #604C4C;
}
.text-starbucks-black {
    color: #333;
}
.text-starbucks-black:hover {
    color: rgba(51, 51, 51, 0.5);
}

.btn-starbucks-green {
    background-color: #016843;
    color: #FFFCFC;
    border: 2px solid #015738;
}
.btn-starbucks-green:hover {
    background-color: #015738;
    border-color: #01482e;
}

.btn-starbucks-white {
    background-color: #FFFCFC;
    color: #362415;
    border: 2px solid #E6E6E6;
}

.btn-starbucks-white:hover {
    background-color: #E6E6E6;
    border-color: #CCCCCC;
}

.btn-starbucks-gold {
    background-color: #EAC784;
    color: #362415;
    border: 2px solid #D1B274;
}

.btn-starbucks-gold:hover {
    background-color: #D1B274;
    border-color: #C7A564;
}

.btn-starbucks-brown {
    background-color: #362415;
    color: #FFFCFC;
    border: 2px solid #2E1E10;
}

.btn-starbucks-brown:hover {
    background-color: #2E1E10;
    border-color: #261a0d;
}

.btn-starbucks-graybrown {
    background-color: #604C4C;
    color: #FFFCFC;
    border: 2px solid #503C3C;
}

.btn-starbucks-graybrown:hover {
    background-color: #503C3C;
    border-color: #402C2C;
}
.border-starbucks-green {
    border-color: #016843;
}
.icon {
    color: #333;
}