{% include 'header.html' %}

<!-- title section -->
{% block content %}
<div class="container">
    <div class="container bg-light">
        <h1 class="display-1 text-success">MyPresso</h1>
        <div class="text-warning">
            <h2>My Coffee Place List</h2>
        </div>
    </div>
    <!-- form section  -->
    <div class="container bg-light">
        <form method="POST" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.location.label }}
                <small class="form-text text-muted indent-small">address of the place</small>
                {{ form.location() }}

            </div>
            <div class="form-group">
                {{ form.type.label }}
                <small class="form-text text-muted indent-small">Address of the Place</small>
                {{ form.type() }}
            </div>
            <div class="form-group">
                {{ form.keyword.label }}
                <small class="form-text text-muted indent-small">Keyword of the Place</small>
                {{ form.keyword() }}
            </div>
            <div class="form-group">
                {{ form.radius.label }}
                <small class="form-text text-muted indent-small">Radius to Find</small>
                {{ form.radius() }}
            </div>
            <div class="form-group mt-5 mb-5">
                {{ form.submit() }}
            </div>
        </form>
    </div>
    <div class="container bg-light mt-3 mb-3">
        <div id="map" style="height: 400px; width: 100%;"></div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Place</th>
            <th scope="col">Rating</th>
        </tr>
        </thead>
        <tbody>
        {% if results is not none %}
        {% for name, emoji, vicinity in results_zipped %}
        <tr>
            <td>
                <a href="#"><h5 class="font-weight-bold" data-location="{{ vicinity }}">{{ name }}</h5></a>
                <a href="https://www.google.com/maps/search/?api=1&query={{ name }}{{ vicinity }}">
                    <small class="text-muted">{{ vicinity }}</small>
                </a>
            </td>
            <td>
                <h6 class="text-danger">{{ emoji }}</h6>
            </td>
            <td>
                <a href="#" class="add-cafe" data-name="{{ name }}"
                   data-rating="{{ emoji }}" data-vicinity="{{ vicinity }}"><i class=" fa-solid fa-plus"></i></a>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>


<script type="text/javascript">
    var mapKey = "{{ key }}";

</script>
<script src="{{ url_for('static', filename='js/scripts.js') }}" async defer></script>

{% include 'footer.html' %}
{% endblock %}
