{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
<!-- This is where you include your stylesheet -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %}
<!-- Your page content goes here -->
<div class="container bg-light">
    <div class="container">
        <div class="container text-success bg-light">
            <div class="custom-text-color">
                <h1>Cafe Finder</h1>
            </div>
            <div class="text-warning">
                <h2>Find Mega Coffee Near Me</h2>
            </div>
        </div>
        <div class="container bg-light">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.location.label }}
                    {{ form.location() }}
                    <small class="form-text text-muted">address of the place</small>
                </div>
                <div class="form-group">
                    {{ form.type.label }}
                    {{ form.type() }}
                </div>
                <div class="form-group">
                    {{ form.keyword.label }}
                    {{ form.keyword() }}
                </div>
                <div class="form-group">
                    {{ form.radius.label }}
                    {{ form.radius() }}
                </div>
                <div class="form-group mt-5 mb-5">
                    {{ form.submit() }}
                </div>
            </form>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Place</th>
                <th scope="col">Rating</th>
            </tr>
            </thead>
            {% if result is not none %}
            {% for place in result %}
            <tbody>
            <td>
                <h5 class="font-weight-bold">{{ place['name'] }}</h5>
            </td>
            <td>
                <h6 class="text-danger">Rating = {{place['rating'] }}</h6>
            </td>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <div id="map" style="height: 400px; width: 50%;"></div>
    </div>
</div>
</div>


<script type="text/javascript">
    var mapKey = "{{ key }}";
    var locationName = "{{ location_name }}";
</script>
<script src="{{ url_for('static', filename='js/script.js') }}" async defer></script>
{% include 'footer.html' %}
{% endblock %}
