{% include 'header.html' %}
{% block content %}
    <div class="container">
        <h1>Project: Café Finder</h1>
        <p>This webpage is part of my personal portfolio, showcasing my abilities in web development, particularly in creating a responsive and interactive web application for finding and managing favorite cafés.</p>

        <h2>Project Overview</h2>
        <p>The Café Finder is a web application designed to help users discover cafés based on their preferences such as location, seating availability, coffee price, and ratings. It allows users to save their favorite cafés, edit details, and delete them as needed. This project highlights my skills in frontend and backend development, including database management, user interface design, and implementing interactive features like maps and carousels.</p>

        <h3>Key Features</h3>
        <ul>
            <li>Dynamic listing of cafés with pagination.</li>
            <li>Interactive Google Maps integration to display café locations.</li>
            <li>Carousel feature to browse through favorite cafés.</li>
            <li>Ability to add, edit, and remove cafés from the favorites list.</li>
            <li>Responsive design for optimal viewing on various devices and screen sizes.</li>
        </ul>

        <h3>Technologies Used</h3>
        <ul>
            <li>HTML5, CSS3 (Bootstrap for responsive design)</li>
            <li>JavaScript (for interactive elements)</li>
            <li>Python Flask (backend framework)</li>
            <li>SQLAlchemy (for database management)</li>
            <li>Google Maps API (for map integration)</li>
        </ul>

        <h3>Challenges and Learning</h3>
        <p>Throughout the development of the Café Finder, I encountered and overcame several challenges, such as efficiently managing database queries, ensuring the website's responsiveness across different devices, and integrating third-party APIs like Google Maps. This project significantly improved my problem-solving skills, my understanding of web development best practices, and my ability to create a comprehensive user experience.</p>

        <h3>Future Enhancements</h3>
        <p>I plan to continue evolving the Café Finder by adding more features, such as user authentication, reviews and comments for each café, and advanced search filters. These enhancements will aim to improve user engagement and provide a more personalized experience.</p>

        <p>Thank you for taking the time to review my Café Finder project. Please feel free to contact me for more information or to discuss potential opportunities.</p>

        <p><a href="dukso123@gmail.com">dukso123@gmail.com</a></p>
    </div>
{% endblock %}

{% include 'footer.html' %}